* {
	font-size: 13px;
  font-weight: bold;
	font-family: monospace;
}

window#waybar {
  background: none;
	color: #fdf6e3;
}
#custom-right-arrow-dark,
#custom-left-arrow-dark {
  font-size:22px;
	color: #292b2e;
  background: none;
}

#custom-right-arrow-dark-workspaces,
#custom-left-arrow-dark-clock1,
#custom-left-arrow-dark-clock2,
#custom-right-arrow-dark-clock2,
#custom-right-arrow-dark-clock3,
#custom-left-arrow-dark-pulseaudio,
#custom-left-arrow-dark-network,
#custom-left-arrow-dark-memory,
#custom-left-arrow-dark-cpu,
#custom-left-arrow-dark-temperature,
#custom-left-arrow-dark-disk,
#custom-left-arrow-dark-language {
  font-size: 22px;
	background: #292b2e;
}

#custom-left-arrow-light-clock1,
#custom-right-arrow-light-clock3,
#custom-left-arrow-light-pulseaudio,
#custom-left-arrow-light-network,
#custom-left-arrow-light-memory,
#custom-left-arrow-light-cpu,
#custom-left-arrow-light-temperature,
#custom-left-arrow-light-disk {
  font-size: 22px;
	color: #292b2e;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#network,
#memory,
#cpu,
#temperature,
#disk,
#language,
#tray {
	background: #1a1a1a;
	color: #fdf6e3;
}

#workspaces {
  background: #928374;
}
#custom-right-arrow-dark-workspaces {
  color: #928374;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
	background: #1a1a1a;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#clock.1 {
  background: #928374;
}
#custom-left-arrow-dark-clock1 {
  color: #928374;
}
#custom-left-arrow-light-clock1 {
  background: #928374;
}

#clock.2 {
  background: #928374;
}
#custom-left-arrow-dark-clock2 {
  color: #928374;
}
#custom-right-arrow-dark-clock2 {
  color: #928374;
}

#clock.3 {
  background: #928374;
}
#custom-right-arrow-dark-clock3 {
  color: #928374;
}
#custom-right-arrow-light-clock3 {
  background: #928374;
}

#pulseaudio {
	background: #268bd2;
}
#custom-left-arrow-dark-pulseaudio {
	color: #268bd2;
}
#custom-left-arrow-light-pulseaudio {
	background: #268bd2;
}

#network {
	background: #859900;
	padding: 0 5px 0 10px;
}
#custom-left-arrow-dark-network {
	color: #859900;
}
#custom-left-arrow-light-network {
	background: #859900;
}

#memory {
	background: #2aa198;
}
#custom-left-arrow-dark-memory {
	color: #2aa198;
}
#custom-left-arrow-light-memory {
	background: #2aa198;
}

#cpu {
	background: #6c71c4;
}
#custom-left-arrow-dark-cpu {
	color: #6c71c4;
}
#custom-left-arrow-light-cpu {
	background: #6c71c4;
}

#temperature {
  background: #b16286;
}
#custom-left-arrow-dark-temperature {
  color: #b16286;
}
#custom-left-arrow-light-temperature {
  background: #b16286;
}
#temperature.critical {
  background: #fb4934;
}

#disk {
	background: #b58900;
}
#custom-left-arrow-dark-disk {
	color: #b58900;
}
#custom-left-arrow-light-disk {
	background: #b58900;
}

#language {
	/*background: #a89984;*/
  background: #928374;
  min-width: 16px;
}
#custom-left-arrow-dark-language {
  color: #928374;
}
#custom-left-arrow-light-language {
  background: #928374;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#temperature,
#disk,
#language {
	padding: 0 10px;
}
